.App {
  margin: 30px
}

.table {
  margin-top: 15px
}

.row{
  display: flex;
  flex-direction: column;
}

.product-row{
  display: flex;
}

.product {
  display: flex;
  align-items: left;
  justify-content: left;
}

.column-name {
  border: 2px solid black;
  padding: 5px;
  width: 130px;
  min-width: 130px;
  font-weight: bold;
  background-color: lightgrey;
}

.product-section {
  border: 2px solid black;
  padding: 5px;
  width: 130px;
  min-width: 130px;
}